

        <!-- Post Content Column -->
        


            <!-- Comments Form -->
            <div class="card my-4">
                <h1 class="mt-4">{{post.title}}</h1>
                <hr>
                <h5 class="card-header">Upload file</h5>
                <div class="card-body">
 
            <hr>
            <!-- Date/Time -->
            <p>Posted on {{post.creationDate}}</p>

            <hr>

            <!-- deadline -->
           <p>Deadline on {{post.deadline}}</p>

            <!-- Post Content -->
            <p class="lead">{{post.description}}</p>


            <hr>
                    <form action="/post/{{post._id}}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" class="form-control" id="file" name="uploadedFile"  accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                            <input type="hidden" name="id" value="{{post._id}}">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>





       

